extends layout 

block content
    div.container.mt-5
        h1 Detalle de: #{obra.nombre}
        ul.list-group
            li.list-group-item ID: #{obra.id}
            li.list-group-item Ubicación: #{obra.ubicacion}
            li.list-group-item Presupuesto: USD #{obra.presupuesto}
            li.list-group-item Estado: #{obra.estado}
        a(href=`/obras/editar-obra/${obra.id}`) Editar 
        | &nbsp;|&nbsp;
        a(href=`/obras/eliminar-obra/${obra.id}`) Eliminar

        br
        br 

        a.btn.btn-primary.mt-3(href="/obras") Volver atras
